body{
    background-color: #edede5;



}


img{
    width: 150px;
    left: 100px;


}

h2{

    position: absolute;
    top: 30px;
    left: 400px;

}

.container{
    position: absolute;
    top: 14%;
    left: 25%;
    width: 50%;
    height: 90%;
   
    padding-right:8%;
    padding-left: 1%;
   
    background-color: #8e8e89;

}

.first-div{
    position: absolute;
    top: 3%;
    width: 500px;

   
    


}
#lab1{
    width: 97%;
    padding-top: 2%;
    


}
.lab{
    font-size: 90%;
    font-weight: 50%;
   

    /*float: left;
   
    /*background-color: aqua;*/
}


.form-control{
    width: 100%;
    padding: 1.5%;
    font-size: 2vmin ;
    font-size: small;



}
.third-div{
    position: absolute;
    top: 90%;
    width: 100%;
   


}

.fourth-div{
    position: absolute;
    top: 135%;
    width: 100%;
   



}

.fifth-div{
    position: absolute;
    top: 185%;
    text-align: left;
    width: 100%;
   


}

.sixth-div{
    position: absolute;
    top: 250%;
    width: 100%;
   



}
.seventh-div{

    position: absolute;
    top: 320%;
    width: 100%;
   

}

#btn{
    position: absolute;
    top: 320%;
    left: 5%;
    width: 100%;
    margin: -4%;
    padding: 1.5%;
   

    background-color: beige;


}
#btn:hover{
    background-color: #4399c3;
}




