body{
	background-color: #edede5;



}

img{
	width: 150px;
	left: 100px;


}


#style1{

	text-align: center;
	font-size: 20px;




}

#style2{
	margin:2%;
	text-align: justify;
	font-size: 18px;



}

strong{
	margin: 7%;
	text-align: justify;
	font-size: 18px;



}

#style3{
	margin: 2%;
	text-align: justify;
	font-size: 18px;



}

#Bouton{

	position: absolute;
	left: 35%;
	margin: 2%;
	

	padding: 14px 45px;
	border-radius: 25px;

	

}

#Bouton:hover{
	background-color: #4399c3;



}

