body{
	background-color: #edede5;



}

img{
	width: 150px;
	left: 100px;


}

h3{
	position: absolute;
	top: 5%;
	left: 25%;
	


}

#textRef{
	position: absolute;
	top: 15%;
	margin: 2%;
	font-size: 18px;
	text-align: justify;

}

audio{

	position: absolute;
	top: 40%;
	left: 36%;
	
}



.btn1{
	position: absolute;
	top: 60%;
	background-color: gray;
	left: 37%;
	
  	
  	
  	padding: 16px 70px;
  	text-align: center;
  	margin: 10px 20px;
  	font-size: 25px;
  	cursor: pointer;
  	border-radius: 10px;



}

.btn1:hover{

	background-color: #4399c3;
	color:gray;
}