body{
	background-color: #edede5;



}


img{
	width: 150px;
	left: 100px;


}

h3{
	text-align: center;


}


#test{
	text-align: left;
	margin: 2%;
	font-size: 18px;

}

#test1{
	position: absolute;
	top:55%;
	left: 36%;


}

#test2{
	position: absolute;
	top:150px;
	left:400px;
	font-size: 20px;
}
   
#test3{
	position: absolute;
	top:85%;
	left: 39%;
	font-size: 18px;


}


.slider{
	
  -webkit-appearance: none;
  width: 250%;
  height: 15px;
  background: #708090;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 25px;
  background:  	#67e696;
  cursor: pointer;
}
.slider:hover {
  opacity: 1;
}
.leftRight{
	font-size: 18px;
}
#left{
	position: absolute;
	top: 55%;
	left: 26%;


}
#right{
	position: absolute;
	top: 55%;
	left: 72%;



}

.bouton{
	position: absolute;
	top: 65%;
	left: 34%;





}

#bouton1{

padding: 10px 50px;
margin: 5px;
border-radius: 15px;


}

#bouton2{
	padding: 10px 40px;

	border-radius: 15px;




}
#bouton1:hover{
	background-color: #4399c3;




}
#bouton2:hover{
	background-color: #4399c3;
}

#bouton3{

	padding: 10px 50px;

	border-radius: 15px;


}

#bouton3:hover{
	background-color: #4399c3;




}

#sonjouer{

	position: absolute;
	top:42%;
	left:47%;
	background-color: #9aa6b1a6;
	width: 15%;
	height: 10%;
	border-radius: 5%;
	

}







